{{yield}}
<div class='px-3 py-2'>
  <div>
    <p data-i18n='ta-v2-freezer-description'>Description</p>
  </div>
  <div class="row">
    <div class="col-6">
      <img src="/postit-orange.png"
        class="w-25 mr-2 img-fluid float-left">
      <p class='axis' data-i18n='ta-product-category'></p>
    </div>
    <div class="col-6">
      <img src="/postit-green.png"
        class="w-25 mr-2 img-fluid float-left">
      <p class='axis' data-i18n='ta-contractor'></p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <img src="/postit-purple.png"
        class="w-25 mr-2 img-fluid float-left">
      <p class='axis' data-i18n='ta-product'></p>
    </div>
    <div class="col-6">
      <img src="/postit-pink.png"
        class="w-25 mr-2 img-fluid float-left">
      <p class='axis' data-i18n='ta-subsidiary-contractor'></p>
    </div>
  </div>
</div>
