<h1 class="sr-only">Torn Apart / Separados</h1>
<div id="above-map">
  <div id="all-navs">
    <div class="d-none d-md-block">
      {{nav-bar}}
      {{visualizations-navbar}}
    </div>
  </div>
</div>
{{leaflet-background}}
{{outlet}}
