<h1 class="sr-only">Torn Apart / Separados</h1>
<div id="above-map">
  <div id="all-navs">
      {{nav-bar bg=nav.bg className=nav.className}}
      {{visualizations-navbar}}
  </div>
</div>
{{leaflet-background}}
{{outlet}}
