{{outlet}}
{{#map-legend}}
<div class="px-3 py-2">
  <div>
    <p data-i18n="ta-ice-money-since-2013">
    </p>
  </div>
  <div class="d-flex">
    <div class="flex-fill">
      <div class="legend-svg-div">
        <svg class="legend-svg" height="${3 * height}" width="20">
          <rect height="${height}" width="20" class="legend-polygon" 
            fill="${purple}" opacity="${ opacityRange5[i] }"/>
          <rect height="${height}" width="20" class="legend-polygon" 
            fill="${green}" opacity="${ opacityRange5[i] }" 
            transform="translate(0,${height})"/>
          <rect height="${height}" width="20" class="legend-polygon" 
            fill="${orange}" opacity="${ opacityRange5[i] }" 
            transform="translate(0,${2 * height})"/>
        </svg>
      </div>
      <div>
        <p class="px-1">
          {{legend}}
        </p>
      </div>
    </div>
    <div class="flex-fill">
      <div class="pl-1 legend-svg-div">
        <p class="axis" data-i18n="ta-republican-cong" id="districts-i18n-test-p"></p>
        <p class="axis" data-i18n="ta-democrat-cong"></p>
        <p class="axis" data-i18n="ta-no-rep-cong"></p>
      </div>
      <div>&nbsp;</div>
    </div>
  </div>
</div>
{{/map-legend}}
