{{#full-page-visualization}}
<div id="rain-viz" class="viz-hide">
  <div id="rain-header">
    <h2 id="rain-h2" data-i18n="ta-v2-rain-title">Rain</h2>
  </div>
  <svg id="rain-svg"></svg>
</div>
{{/full-page-visualization}}
