#charts-div {

  #mandays-table-div {
    overflow-y: scroll; 
    height: 250px;
  }

  .table .thead-dark th {
    background-color: $green;
    border-color: $faintwhite;
  }

  svg {
    border: 1px solid red;
    width: 100%;
  }

  .big-number {
    margin: 0;
    color: $green;
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
  }

  .big-number-desc {
    text-align: center;
    font-size: .75rem;
  }

  .bar {
    fill: $green;
  }

  text {
    font-size: 10px;
  }

  th.des:after {
    content: "\21E9";
  }

  th.des:after {
    content: "\21E7";
  }
};
