#legend {
  display: none;
  position: absolute;
  // height: 15vh;
  width: calc(100vw - 2.0rem);
  right: 0;
  top: 50vh;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.75);

  p {
    margin: 0px;
  }

  a {
    padding: 0 .25rem;
    border-radius: .25rem;
    color: $green;
    background-color: $white;
  }
}

.full-map {
  height: 100vh; //calc(100vh - 56px);
  position: absolute;
  width: 100vw;
  top: 0;
}

.leaflet-popup-content {
  width: 278px !important;

  h5 {
    color: $green;
  }
}

.leaflet-container a {
  color: $green;
}

.leaflet-left .leaflet-control {
  margin-left: .5rem;
}

.leaflet-div-icon {
  background: none;
  border: none;
  font-size: 250%;
}

.leaflet-bar a {
  background-color: $green;
  color: $faintwhite;
  border-bottom: 1px solid $faintwhite;
}

.leaflet-bar a:hover {
  background-color: $green;
  color: $white;
}

#above-map {
  position: absolute;
  z-index: 1000;
}

#the-eye-div, #charts-div {
  display: none;
  z-index: 1000;

  img {
    border: 3px solid $green;;
  }

}

#charts-div {
  position: absolute;
  width: calc(100vw - 2rem);
  overflow-y: scroll; 

  h1, h2, h3, h4, h5, h6 {
    color: $green;
  }

  div {
    border: 1px solid red;
  }
}


.eye-tile-div.shadow {
  box-shadow: 0px 0px 50px 5px #000000 !important;
}

@media (min-width: 576px){
  #legend {
    width: 50vw;
  }

  #charts-div {
    width: 50vw;
  }
}

