.full-container {
  pointer-events:none;
  z-index: 2000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#legend {
  font-size: 0.9rem;
  display: none;
  position: absolute;
  // height: 15vh;
  width: calc(100vw - 2.0rem);
  right: 0;
  top: 50vh;
  z-index: 1025;
  background-color: rgba(255, 255, 255, 0.75);

  svg {
    margin: .25rem .5rem .5rem 0;
  }

}

.legend {

  p {
    margin: 0px;
  }

  a {
    padding: 0 .25rem;
    border-radius: .25rem;
    color: $green;
    background-color: $white;
  }
}

#drawing-dialog {
  z-index: 2900;
  text-align: center;
  color: $green;
  display: none;
  background-color: rgba(255, 255, 255, 0.75);

  i {
    font-size: 4rem;
  }
}

#orr-legend, #banned-legend {
  font-size: 0.9rem;
  display: none;
  pointer-events: auto;
  display: none;
  width: calc(100vw - 2.0rem);
  z-index: 3000;
  background-color: rgba(255, 255, 255, 0.75);

  p {
    margin: 0px;
  }
}

#banned-legend {

  font-size: 0.8rem;

  em {
    font-style: normal;
  }
}

.full-map {
  height: 100vh; //calc(100vh - 56px);
  position: absolute;
  width: 100vw;
  top: 0;
}

.leaflet-popup-content {
  width: 278px !important;

  h5 {
    color: $green;
  }
}

.leaflet-container a {
  color: $green;
}

.leaflet-left .leaflet-control {
  margin-left: .5rem;
}

.leaflet-top {
  margin-top: 6.5rem;
}

.leaflet-div-icon {
  background: none;
  border: none;
  font-size: 250%;
}

.leaflet-bar a {
  background-color: $green;
  color: $faintwhite;
  border-bottom: 1px solid $faintwhite;
}

.leaflet-bar a:hover {
  background-color: $green;
  color: $white;
}

#above-map {
  position: absolute;
  z-index: 1010;
}

#the-eye-div {
  position: absolute;
  top: 8rem;
  left: 1rem;
  height: calc(100vh - 8rem - 3rem);
  width: calc(100vw - 2rem);
  display: none;
  z-index: 2100;

  img {
    border: 3px solid $purple;;
  }

}

#orr-div{
  display: none;
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.eye-tile-div {
  background-color: rgba(255, 255, 255, 0);
  width: 128px;
  height: 128px;
}

.eye-tile-div.shadow {
  box-shadow: 0px 0px 50px 5px #000000 !important;
}

.orange-dot, .purple-dot {
  fill-opacity: 0.8;
}

.purple-dot {
  fill: $purple;
}

.orange-dot {
  fill: $orange;
}

.orange-polygon {
  pointer-events: none;
  fill: $orange;
  fill-opacity: 0.5;
  stroke: $orange;
  stroke-width: 5;
  stroke-opacity: 1;
}


@media (min-width: 576px){
  #legend, #banned-legend, #orr-legend {
    width: 50vw;
    font-size: 0.8rem;
  }

  #the-eye-div {
    top: 7.25rem;
    left: .5rem;
    max-height: calc(100vh - 7.5rem - 1.75rem);
  }
}

