
.fixed-top, #navbar-list {
  z-index: 4000;
}

.bg-dark {
  background-color: $green !important;
}

.volume-1-nav-link {
  text-decoration: underline $orange double ;
}

.volume-2-nav-link {
  text-decoration: underline $purple double ;
}

#volume-1-button.nav-link.nav-item {
  background-color: $orange;
}

#volume-2-button.nav-link.nav-item {
  background-color: $purple;
}

#index-nav.nav, #visualizations-nav.nav, #time-series-nav.nav { 
  margin-top: .5rem;
  a {
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    border-radius: .25rem;
    color: $faintwhite; 
    background-color: $green;
  }

  a:hover, a.active {
    color: $white;
  }
}

.navbar-toggler {
  font-size: 1rem;
}

.navbar-toggler-vol-2 {
  background-color: $purple;
}

.navbar-toggler-vol-1 {
  background-color: $orange;
}

.nav-item.viz-button {
  padding: 0 1rem;
}

.locale-toggle-text.active {
  color: $white;
}

#time-series-nav.nav, #visualizations-nav.nav {
  a {
    margin: 0;
    font-size: 0.75rem;
    padding: .5rem;
  }
}

#visualizations-nav.nav {
  width: 100vw;
  margin-top: 4.5rem;
}

#time-series-nav.nav a {
  border: none;
  margin-right: 1rem;
}

@media (min-width: 576px){
  #time-series-nav.nav, #index-nav.nav, #visualizations-nav.nav {
    margin-top: .5rem;
    padding-left: .5rem;

    a {
      font-size: 1rem;
      padding: .5rem 1rem;
      margin-right: .5rem;
    }
  }
}

#visualizations-nav.nav a.orange-button {
  background-color: $orange;
}

#visualizations-nav.nav a.purple-button {
  background-color: $purple;
}

#visualizations-teeny-nav.nav a.nav-link {
  margin-right: 0.5rem;
  font-size: 0.75rem;
  padding: .5rem;
}

.viz-nav-vol-1 {
  background-color: $orange;
}

.viz-nav-vol-2 {
  background-color: $purple;
}


// Localization links:

.navbar {
  color: $faintwhite;
  
  a {
    color: $faintwhite; 
  }

  a:hover, a.active {
    color: $white;
  }
}

.dropdown-menu {
  background-color: $green;
}

#index-nav a.dropdown-item, a.dropdown-item {
  border: none;
  border-radius: 0rem;
  padding: .5rem;
  margin: 0;
}

#index-nav a.dropdown-item.active, a.dropdown-item.active {
  background-color: $darkgreen;
}

#index-nav a.dropdown-item:focus, #index-nav a.dropdown-item:hover, 
a.dropdown-item:focus, a.dropdown-item:hover {
  background-color: $darkgreen;
}
