.bg-dark {
  background-color: $green !important;
}


#index-nav.nav, #visualizations-teeny-nav.nav, #visualizations-nav.nav { 
  a {
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    border-radius: .25rem;
    color: $faintwhite; 
    background-color: $green;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  a:hover, a.active {
    color: $white;
  }
}

#visualizations-nav.nav a.nav-link, #visualizations-teeny-nav.nav a.nav-link {
  background-color: $orange;
}

#visualizations-teeny-nav.nav a.nav-link {
  margin-right: 0.5rem;
  font-size: 0.75rem;
  padding: .5rem;
}

// Localization links:

.navbar {
  color: $faintwhite;

  a.nav-item {
    color: $faintwhite; 
  }

  a:hover, a.active {
    color: $white;
  }
}

