.page {

  margin-top: 4em;
  padding-top: 4em;

  h1 {
    margin-top: 2rem;
  }

  h2 {
    margin-top: 1em;
  }

  h3 {
    margin-top: 1.2em;
  }

  p {
    font-size: 1.1rem;
  }
  // li {
  //   overflow: hidden;
  // }

  .footnotes {
    ol {
      margin: 2rem 0;
      padding: 0;
      padding-left: 1rem;

      li {
        list-style: decimal;
        font-size: 0.75rem;

        p {
          font-size: 0.75rem;
        }
      }
    }
  }


}

.redacted-span {
  background-color: #212529;
}

p.author-credit {
  font-weight: bold;
  color: #666666;
}

.bio-slug {
  color: #999999;

li {
    font-weight: bold;
  }
}

blockquote {
  p {
    margin: 0
  }

  margin: 1rem 0 1rem 4rem;
  padding: .5rem 0 .5rem 4rem;
  border-left: 5px solid $green;
  color: #999999;
  font-style: italic;
}

// Articles

article h2 {
  margin-top: 6rem;
} 

// Figures

.page > *:not( .figure-landscape ), article {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    padding-left: 5%;
    padding-right: 5%;
}

.figure-landscape, .figure-portrait {
	margin-bottom: 1.5em;
	margin-top: 1em;
}

.figure-portrait {
  width: 88%;
}

main img {
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 576px){
  .figure-portrait {
    width: 44%;
  }
}








