svg {
  .axis line, .domain, .tick {
    fill: none;
    stroke: #777;
    stroke-dasharray: 1, 4;
  }

  .axis text, .legend text {
    font: 10px sans-serif;
    stroke: none;
  }

  line.link {
    stroke: #999;
  }

  line.dotted-link {
    stroke: #ccc;
  }

  .node {
    pointer-events: all;
  }

  .bar {
    fill: rgba(102, 194, 165, 0.9); // presumably this is green.
  }

  text {
    font-size: 10px;
  }

  text.centered {
    text-anchor: middle;
  }

  text.subhead {
    fill: $green;
    font-size: .75rem;
  }

  text.subsubhead {
    fill: $green;
    font-size: .75rem;
  }

  .purple {
    fill: $purple;;
  }

  .green {
    fill: $green;
  }

  .orange {
    fill: $orange;
  }

  .pink {
    fill: $pink;
  }

  @media (min-width: 576px){
    text.subhead {
      font-size: 1.75rem;
    }

    text.subsubhead {
      font-size: 1.5rem;
    }
  }
}
