// AlexEd Code

.page h1 {
	margin-top: 4em;
}

.page > *:not( img ):not( .figure ) {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    padding-left: 5%;
    padding-right: 5%;
}

.page h2 {
	margin-top: 1em;
}

.page p {
	font-size: 1.1rem;
}

.figure {
	margin-bottom: 1.5em;
	margin-top: 1em;
}

img {
	width: 100%;
}

// Color Brewer colors:
$orange: #fc8d62;
$green: #66c2a5;
$midgreen: #41a485;
$darkgreen: #3a9276;
$purple: #8da0cb;
$white: #ffffff;
$faintwhite: rgba(255,255,255,.5);

main {
  margin-top: 60px;
}

.btn-primary {
  background-color: $green;
  border-color: $green;
}

.btn-primary:hover {
  background-color: $darkgreen;
  border-color: $darkgreen;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 146, 118, .5);
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: $midgreen;
  border-color: $darkgreen;
}

@import "navbar";
@import "leaflet";

