// Color Brewer colors:
$orange: #fc8d62;
$green: #66c2a5;
$midgreen: #41a485;
$darkgreen: #3a9276;
$purple: #8da0cb;
$white: #ffffff;
$faintwhite: rgba(255,255,255,.5);

main {
  margin-top: 60px;
}

a {
  color: $green;
}

a:hover {
  color: $darkgreen;
}

code {
  color: $green;
}

@import "buttons";
@import "page";
@import "navbar";
@import "leaflet";
@import "charts";
